terraform {
    extra_arguments "volterra" {
        commands = ["apply","plan","destroy"]
        arguments = []
        env_vars = {
            VES_P12_PASSWORD  = "hb9rwm"

            # prod
            # VOLT_API_URL     = "https://playground.console.ves.volterra.io/api"
            # VOLT_API_P12_FILE = "/home/<user>/playground.console.ves.volterra.io.api-creds.p12"
	          # VOLTERRA_TOKEN    = "............................"

            VOLT_API_TIMEOUT  = "60s"

            # staging
            VOLT_API_URL     = "https://playground.staging.volterra.us/api"
            VOLT_API_P12_FILE = "/home/<user>/playground.staging.api-creds.p12"
            VOLT_API_CA_CERT  = "/home/<user>/public_server_ca.crt"
	          VOLTERRA_TOKEN    = "............................"
        }
    }

    # after_hook "experiment" {
    #     commands = ["apply","plan","destroy"]
    #     execute  = ["echo","-----------------!!!!!!!!!!!!!!!!! SUPER DONE !!!!!!!!!!!!!!!!!-----------------"]
    # }

}

inputs = {
    projectPrefix          = "mwdcg"
    namespace              = "mwdcg"
    trusted_ip             = "23.88.44.163/32"  # falk1
    volterraTenant         = "playground"
    volterraCloudCredAzure = "m-azure"
    azureRegion1           = "westus2"
    azureRegion2           = "westus2"
    ssh_public_key       = "<ssh-rsa-public-key>"
}
